/* .custom-modal {
  width: 300px;
  max-width: 80%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  outline: none;
} */
.custom-modal {
  /* width: 300px; */
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.9); /* 90% opaque white */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  overflow: scroll;
  max-height: 80%;
}
.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-heading {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.modal-body {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.modal-button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opaque black */
  z-index: 1000; /* Ensure the overlay appears above other elements */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opaque black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay appears above other elements */
}
