.logout-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 25px;
  margin-right: 40px;
  color: #999;
  font-family: "Bukra bold";
  font-size: 14px;
  text-transform: uppercase;
}
